body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px;
}

section {
    padding: 20px;
}

.card {
    background: white;
    padding: 15px;
    margin: 15px 0;
    border-radius: 8px;
}

img {
    width: 100%;
    border-radius: 5px;
}
